body{
    margin: 0;
    box-sizing: border-box;

}
/*HEADER*/
.header{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(./Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: auto;
}
.header-intro{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
   
}
.logo{
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url(./logo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav{    
    display: flex;    
    justify-content: space-around;    
}
.nav-item-inner1,
.nav-item-inner2{
    margin-bottom: 5px;
}
.nav-item-inner2{
    display: none;    
}
.nav-item-inner1:hover~.nav-item-inner2{
    display: block;    
}
a{
    color: #fff;
    padding: 0 15px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; 
    opacity: .9;  
}
a:hover{
    opacity: 1;
}
.header-title{
    margin: 100px auto;
    width: 100%;
    max-width: 800px; 
    text-align: center;  
    }
h1{
    font-size: 46px;
    color: rgb(184, 20, 42);
    font-weight: bold;    
}
p{
    font-size: 22px;
    color: rgb(184, 20, 42);
    font-weight: 400;  
}
/*MASSAGE TYPE*/
.massage-type{
    margin: 0;
    background: rgb(44, 233, 223);
}
.massage-title{
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
h2{
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
 }
.massage-card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 27%;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 10px 15px;
    text-align: center;
    padding: 0px 10px 10px;
}
.card:active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(119, 113, 113);
    z-index: 100;
}
.card h3{
    font-size: 36px;
    color: #000;
    font-weight: bold;    
}
.card p{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-align: justify;
}
.card button{
    width: 120px;
    height: 40px;
    padding: 5px 10px;
    background: rgba(74, 201, 233, 0.863);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}
.card button:hover{
    background: red;
}
/*MATERIALS*/
.materials{
    margin: 0;
    width: 100%;
    background: rgb(199, 192, 192);
}
.cosm-title{
    padding-top: 20px;
    text-align: center;
}
.cosmmetics-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.cosm-card{
    width: 15%;
    height: 90vh;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;   
    margin: 15px;
}
.cosm-card:active{
    width: 80%;
    margin: 0 auto;
}
.cosm-card:active~.cosm-card:not(:active) {
display: none;
}

/*MEDIA*/

@media(max-width:1240px){
    .logo{
        margin-left: 20px;
    }
    .cosm-card{
        width: 25%; 
    }
}

@media(max-width:880px){
    .nav{
        display: block;
    }
    p{
        padding: 0 15px;
    }
    .header-title{
        margin-top: 50px; 
    }
    .card{
        width: 40%;
    }
}

@media(max-width:680px){
    .cosm-card{
        width: 40%; 
    }
}

@media(max-width:550px){
    .header-title{
        margin-top: 10px; 
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    .card{
        width: 60%;
    }
}
@media(max-width:400px){
    .cosm-card{
        width: 100%; 
    }
}